# Imports

In [23]:
import pandas as pd
import numpy as np

# Manipulate data

In [26]:
df = pd.read_csv('data/airbnb_data.csv')

df = df[['log_price', 'room_type', 'accommodates', 'cancellation_policy', 'cleaning_fee', 'city', 'first_review', 'instant_bookable', 'number_of_reviews', 'review_scores_rating', 'bedrooms']]
df['cleaning_fee'] = df['cleaning_fee'].astype(int)
df['instant_bookable'] = df['instant_bookable'].apply(lambda x: 1 if x == 'f' else 0)
df = df.dropna(axis=0, subset=['first_review'])
df['price_by_night'] = np.exp(df['log_price'])
df = df.drop(labels='log_price', axis=1)

df.head()

,room_type,accommodates,cancellation_policy,cleaning_fee,city,first_review,instant_bookable,number_of_reviews,review_scores_rating,bedrooms,price_by_night
0,Entire home/apt,3,strict,1,NYC,2016-06-18,1,2,100.0,1.0,150.0
1,Entire home/apt,7,strict,1,NYC,2017-08-05,0,6,93.0,3.0,169.0
2,Entire home/apt,5,moderate,1,NYC,2017-04-30,0,10,92.0,1.0,145.0
4,Entire home/apt,2,moderate,1,DC,2015-05-12,0,4,40.0,0.0,115.0
5,Private room,2,strict,1,SF,2017-08-27,0,3,100.0,1.0,85.0